<mat-nav-list>
  <a mat-list-item (click)="addPreset()">
    <span mat-line i18n="@@addPreset">Add Preset</span>
    <span mat-line i18n="@@addPresetDesc">Create new preset</span>
  </a>

  <a routerLink="/home" mat-list-item (click)="openLink()">
    <span mat-line i18n="@@presetsList">Presets list</span>
    <span mat-line i18n="@@presetsListDesc">Go to presets list page</span>
  </a>

  <a routerLink="/stepper" mat-list-item (click)="openLink()">
    <span mat-line  i18n="@@ActDefPres"> Activate default preset </span>
    <span mat-line  i18n="@@ActDefPresDesc">
      Go to page with default preset preloaded
    </span>
  </a>
</mat-nav-list>
