<mat-nav-list>
  <a mat-list-item (click)="addPreset($event)">
    <span mat-line>Add Preset</span>
    <span mat-line>Create new preset</span>
  </a>

  <a  mat-list-item (click)="openLink($event)">
    <span routerLink="/home" routerLinkActive mat-line>Presets list</span>
    <span mat-line>Go to presets list page</span>
  </a>

  <a mat-list-item (click)="openLink($event)">
    <span
      routerLink="/stepper"
      routerLinkActive
      #goDefPreset="routerLinkActive"
      mat-line>
      Activate default preset
    </span>
    <span mat-line>Go to page with default preset preloaded</span>
  </a>
</mat-nav-list>
