:host{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 4.8rem 4.8rem;
  background-position: center;
  height: 4.8rem;
  width: 4.8rem;
  margin: auto;
}
