<header>
  <mat-progress-bar
    *ngIf="stepperRoute.isActive"
    mode="determinate"
    [value]="stepper.totalProgress">
  </mat-progress-bar>
  <jt-icon-button (click)="onClick()">
    |||
  </jt-icon-button>
</header>
<nav [hidden]='!visibleNav'>
  <div  routerLink="/home" class="">
    home
  </div>
  <div   routerLink="/constructor" class="">
    constructor
  </div>
  <div  routerLink="/stepper" routerLinkActive #stepperRoute="routerLinkActive"></div>
</nav>
<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>
