:host{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.progress-wrapper{
  width: 100%;
}
mat-progress-bar{
  height: 1rem;
}
.routerOutlet{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.menu-btn{
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  z-index: 100;
}
