<h2 mat-dialog-title>{{dialogOptions.dialogTitle}}</h2>
<mat-dialog-content>
  <div class="editor">
    <div class="editor__item">
      <mat-form-field class="narrow-input">
        <input matInput type="color" [(ngModel)]="exercise.color">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="exercise" [(ngModel)]="exercise.title">
      </mat-form-field>
      <mat-form-field class="narrow-input">
        <input matInput
        type="number"
        placeholder="repetitions"
        [(ngModel)]="exercise.repetitions"
        min="0" step="1">
      </mat-form-field>
    </div>

    <div class="editor__item">
      <button mat-icon-button>
        <mat-icon>rowing</mat-icon>
      </button>
      <mat-form-field class="narrow-input">
        <input matInput type="number" min="0" placeholder="minutes">
      </mat-form-field>:
      <mat-form-field class="narrow-input">
        <input matInput type="number" min="0" placeholder="seconds">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>indeterminate_check_box</mat-icon>
      </button>
    </div>

    <div class="editor__item">
      <button mat-icon-button>
        <mat-icon>airline_seat_recline_extra</mat-icon>
      </button>
      <mat-form-field class="narrow-input">
        <input matInput type="number" placeholder="minutes">
      </mat-form-field>:
      <mat-form-field class="narrow-input">
        <input matInput type="number" placeholder="seconds">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>indeterminate_check_box</mat-icon>
      </button>
    </div>

    <div class="editor__item">
      <button mat-icon-button class="add-countdown">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="editor__item">
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>
  <div class="editor__item">
    <button mat-raised-button [mat-dialog-close]="exercise">Save</button>
  </div>
</mat-dialog-actions>
