<div class="countdown-block">
  <button class="work-rest-mans" color="warn" mat-icon-button [ngSwitch]="countdown.type">
    <mat-icon class="work-man" *ngSwitchCase="'work'" (click)="countdown.type = 'rest'">
      directions_run
    </mat-icon>
    <jt-svg-ico
      class="rest-icon"
      *ngSwitchCase="'rest'"
      (click)="countdown.type = 'work'"
      icoName="resting-man-green">
    </jt-svg-ico>
    <!-- <mat-icon *ngSwitchCase="'rest'" (click)="countdown.type = 'work'">
      airline_seat_recline_extra
    </mat-icon> -->
  </button>
</div>
<div class="countdown-block">
  <mat-form-field class="countdown-input">
    <input matInput
    type="number"
    min="0"
    placeholder="minutes"
    (input)="timeCorrector($event)"
    [(ngModel)]="countdown.minutes">
  </mat-form-field>:

  <mat-form-field class="countdown-input">
    <input matInput
    type="number"
    min="0"
    placeholder="seconds"
    (input)="timeCorrector($event)"
    [(ngModel)]="countdown.seconds">
  </mat-form-field>
</div>
<div class="countdown-block">
  <ng-content></ng-content>
</div>
