:host{
  display: flex;
  flex-flow: row;
  align-items: baseline;
}
.countdown-block{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.countdown-input{
  width: 5rem;
}
.rest-icon{
  background-size: 4.8rem 4.8rem;
  height: 4.8rem;
  width: 4.8rem;
}
.work-man{
  /* font-size: 5rem; */
  transform: scale(2);
}
.work-rest-mans{
  height: 4.8rem;
  width: 4.8rem;
}
