:host{
  display: flex;
  flex-flow: row;
}
.countdown-block{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.countdown-input{
  width: 5rem;
}
.rest-icon{
  background-size: 2.4rem 2.4rem;
  height: 2.4rem;
  width: 2.4rem;
}
