<h2 mat-dialog-title>{{dialogOptions.title}}</h2>
<mat-dialog-content>
  <div class="editor">
    <div class="editor__item">
      <mat-form-field>
        <input matInput placeholder="exercise" [(ngModel)]="exercise.title">
      </mat-form-field>
      <mat-form-field class="narrow-input">
        <input matInput
        type="number"
        placeholder="repetitions"
        [(ngModel)]="exercise.repetitions"
        min="0" step="1">
      </mat-form-field>
    </div>
    <div class="editor__item">
      <mat-checkbox [(ngModel)]="exercise.presetRepetitions">preset repetitions</mat-checkbox>
      <mat-form-field class="narrow-input">
        <input matInput type="color" [(ngModel)]="exercise.color">
      </mat-form-field>
    </div>

    <div class="editor__item">
      <div class="countdowns">
        <jt-countdown *ngFor="let cn of countdowns" [countdown]="cn">
          <button mat-icon-button (click)="deleteCoundown(cn.id)">
            <mat-icon>indeterminate_check_box</mat-icon>
          </button>
        </jt-countdown>
      </div>
    </div>

    <div class="editor__item">
      <button mat-icon-button class="add-countdown" (click)="addCoundown()">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="editor__item">
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>
  <div class="editor__item">
    <button
      mat-raised-button
      [mat-dialog-close]="{
        exercise: exercise,
        countdowns: countdowns,
        deletedCountdowns: deletedCountdowns
      }">
      Save
    </button>
  </div>
</mat-dialog-actions>
