:host{
  font-size: 1.6rem;
}
.editor{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.editor__item{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.flag-checkbox{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 9rem;
}
.countdowns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-icon{
  margin: 0 1.5rem;
}
mat-form-field{
  width: 100%;
}

.editor-icon{
  height: 4.8rem;
  width: 4.8rem;
}

.editor__item--centred{
  justify-content: center;
}

.flag-checkbox__label{
  font-size: 1rem;
  text-align: right;
  margin-bottom: 2rem;
}
