<h2 mat-dialog-title>{{dialogOptions.title}}</h2>
<mat-dialog-content>
  <div class="editor">
    <div class="editor__item">
      <mat-form-field>
        <input matInput placeholder="exercise title" [(ngModel)]="exercise.title">
      </mat-form-field>
    </div>
    <div class="editor__item">
      <mat-form-field class="narrow-input">
        <jt-repeats-icon
          [title]="exercise.repetitions"
          class="input-icon"
          matPrefix
          [val]="exercise.repetitions">
        </jt-repeats-icon>
        <input
          matInput
          (input)="inputCorrector($event)"
          type="number"
          placeholder="repetitions"
          [(ngModel)]="exercise.repetitions"
          min="1" step="1">
      </mat-form-field>
    </div>
    <div class="editor__item">

      <jt-repeat-with-preset-icon class="editor-icon" [disabled]="exercise.atEndOnly || exercise.atStartOnly"> </jt-repeat-with-preset-icon>

      <div title="play at start" class="flag-checkbox">
        <mat-checkbox
          color="primary"
          labelPosition="before"
          [(ngModel)]="exercise.atStartOnly">
        <jt-svg-ico class="editor-icon" icoName="green-flag"></jt-svg-ico>
      </mat-checkbox>
      </div>
      <div title="play at end" class="flag-checkbox">

        <mat-checkbox
          color="primary"
          labelPosition="before"
          [(ngModel)]="exercise.atEndOnly">
        <jt-svg-ico class="editor-icon" icoName="crossed-flag"></jt-svg-ico>
      </mat-checkbox>
      </div>


    </div>
    <div class="editor__item">
      <mat-form-field class="narrow-input">
        <input matInput type="color" [(ngModel)]="exercise.color">
      </mat-form-field>
    </div>

    <div class="editor__item">
      <div class="countdowns">
        <jt-countdown *ngFor="let cn of countdowns" [countdown]="cn">
          <button color="primary" mat-icon-button (click)="deleteCoundown(cn.id)">
            <mat-icon>indeterminate_check_box</mat-icon>
          </button>
        </jt-countdown>
      </div>
    </div>

    <div class="editor__item editor__item--centred">
      <button color="primary" mat-icon-button class="add-countdown" (click)="addCoundown()">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="editor__item">
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>
  <div class="editor__item">
    <button
      mat-raised-button
      [mat-dialog-close]="{
        exercise: exercise,
        countdowns: countdowns,
        deletedCountdowns: deletedCountdowns
      }">
      Save
    </button>
  </div>
</mat-dialog-actions>
