<svg
  *ngIf="!disabled"
   width="128"
   height="128"
   viewBox="0 0 33.866667 128"
   version="1.1"
   id="svg8">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-169)">
    <g
       id="g1388"
       transform="translate(-1.456313,1.4431699)">
      <g
         id="g1401"
         transform="translate(0,-14.501319)">
        <g
           id="g1500"
           transform="translate(1.7051472e-6,-4.9111111)">
          <path
             inkscape:connector-curvature="0"
             [ngStyle]="{fill:color, stroke:color}"
             style="opacity:0.93000034;fill-opacity:1;fill-rule:nonzero;stroke-width:1.12877333;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
             d="M 64,68.373047 A 62.896388,29.543497 0 0 0 1.1035156,97.916016 62.896388,29.543497 0 0 0 57.921875,127.29102 L 68.736328,118.55078 55.511719,107.86133 A 51.30085,19.745706 0 0 1 12.699219,88.408203 51.30085,19.745706 0 0 1 64,68.662109 51.30085,19.745706 0 0 1 115.30078,88.408203 51.30085,19.745706 0 0 1 68.835938,108.04883 l 12.99414,10.50195 -10.769531,8.70508 A 62.896388,29.543497 0 0 0 126.89648,97.916016 62.896388,29.543497 0 0 0 64,68.373047 Z"
             transform="translate(-45.610353,167.55683)"
             id="path1380" />
          <g
             transform="matrix(0.51120033,0,0,1,9.077415,8.4078637)"
             id="g1493">
            <rect
              [ngStyle]="{fill:color, stroke:color}"
               style="opacity:0.93000034;fill-opacity:1;fill-rule:nonzero;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
               id="rect1460"
               width="88.375504"
               height="13.228347"
               x="-25.971352"
               y="198.56209"
               rx="14.334322"
               ry="7.43436" />
            <rect
               ry="7.43436"
               rx="14.334322"
               y="220.39044"
               x="-25.971352"
               height="13.228347"
               width="88.375504"
               id="rect1462"
               [ngStyle]="{fill:color, stroke:color}"
               style="opacity:0.93000034;fill-opacity:1;fill-rule:nonzero;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers" />
            <rect
              [ngStyle]="{fill:color, stroke:color}"
               style="opacity:0.93000034;fill-opacity:1;fill-rule:nonzero;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
               id="rect1464"
               width="88.375504"
               height="13.228347"
               x="-25.971352"
               y="242.21878"
               rx="14.334322"
               ry="7.43436" />
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>

<svg
  *ngIf="disabled"
   width="128"
   height="128"
   viewBox="0 0 33.866667 128"
   version="1.1"
   id="svg8">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-169)">
    <g
       id="g1388"
       transform="translate(-1.456313,1.4431699)">
      <g
         id="g1401"
         transform="translate(0,-14.501319)">
        <g
           id="g1500"
           transform="translate(1.7051472e-6,-4.9111111)">
          <path
             inkscape:connector-curvature="0"
             style="opacity:0.93000034;fill:#a1a1a1;fill-opacity:1;fill-rule:nonzero;stroke:#a1a1a1;stroke-width:1.12877333;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
             d="M 64,68.373047 A 62.896388,29.543497 0 0 0 1.1035156,97.916016 62.896388,29.543497 0 0 0 57.921875,127.29102 L 68.736328,118.55078 55.511719,107.86133 A 51.30085,19.745706 0 0 1 12.699219,88.408203 51.30085,19.745706 0 0 1 64,68.662109 51.30085,19.745706 0 0 1 115.30078,88.408203 51.30085,19.745706 0 0 1 68.835938,108.04883 l 12.99414,10.50195 -10.769531,8.70508 A 62.896388,29.543497 0 0 0 126.89648,97.916016 62.896388,29.543497 0 0 0 64,68.373047 Z"
             transform="translate(-45.610353,167.55683)"
             id="path1380" />
          <g
             transform="matrix(0.51120033,0,0,1,9.077415,8.4078637)"
             id="g1493">
            <rect
               style="opacity:0.93000034;fill:#a1a1a1;fill-opacity:1;fill-rule:nonzero;stroke:#a1a1a1;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
               id="rect1460"
               width="88.375504"
               height="13.228347"
               x="-25.971352"
               y="198.56209"
               rx="14.334322"
               ry="7.43436" />
            <rect
               ry="7.43436"
               rx="14.334322"
               y="220.39044"
               x="-25.971352"
               height="13.228347"
               width="88.375504"
               id="rect1462"
               style="opacity:0.93000034;fill:#a1a1a1;fill-opacity:1;fill-rule:nonzero;stroke:#a1a1a1;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers" />
            <rect
               style="opacity:0.93000034;fill:#a1a1a1;fill-opacity:1;fill-rule:nonzero;stroke:#a1a1a1;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
               id="rect1464"
               width="88.375504"
               height="13.228347"
               x="-25.971352"
               y="242.21878"
               rx="14.334322"
               ry="7.43436" />
          </g>
          <path
             style="fill:white;stroke:white;stroke-width:0.81254512px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
             d="m 63.781318,208.89776 c -0.462021,-1.80948 -3.834341,-3.1168 -5.462869,-2.74602 -1.908956,0.5233 -81.528831,87.82708 -81.279005,89.61612 0.348291,2.59003 1.396395,3.37297 4.293317,4.334 2.558676,-0.16683 83.09548,-89.99921 82.448557,-91.2041 z"
             id="path1585"
             inkscape:connector-curvature="0"
             sodipodi:nodetypes="ccccc" />
        </g>
      </g>
    </g>
  </g>
</svg>



<!-- [ngStyle]="{'fill': repeat ? '#ffcd06' : '#d8d8d8','fill-opacity':1,stroke: repeat ? '#ffcd06' : '#d8d8d8','stroke-width':'1.10367715px','stroke-linecap':'butt','stroke-linejoin':'miter','stroke-opacity':1}" -->
