<header
  [jtSpaceTrigger]="playPause.bind(this)"
  *ngIf="!stepper.running" class="preset-title">
  <h1 [matTooltip]="preset.title">{{preset.title}}</h1>
</header>
<div
  [jtSpaceTrigger]="playPause.bind(this)"
  [@fadeToggle]="stepper.stepNumber" *ngIf="!initial" class="main-body">
  <section  *ngIf="!initial" class="section section--col">
    <div
      matTooltip="exercise in progress"
      i18n-matTooltip="@@stepper.current.exercise.title.exerciseInProgress"
      [@pulsation]="stepper.countdown"
      [ngStyle]="{
        'color': stepper.currentStep.type === 'work'
          ? stepper.currentStep.color
          : 'var(--rest)'
        }"
      class="step-current" i18n="@@stepper.current.exercise.title">
      {
        stepper.currentStep.type === 'work'
          ? stepper.currentStep.title
          : stepper.currentStep.type,
        select, rest {rest} other {
          {{ stepper.currentStep.type === 'work'
              ? stepper.currentStep.title
              : stepper.currentStep.type
          }}
        }
      }
    </div>
    <mat-icon
      matTooltip="next exercise"
      i18n-matTooltip="@@stepper.next.exercise.title.nextExercise"
      class="arrow"
      [ngStyle]="{
        'color': stepper.nextStep.type === 'work'
          ? stepper.nextStep.color
          : 'var(--rest)'
      }"
      *ngIf="stepper.stepNumber < stepper.steps.length
        && stepper.stepNumber !== 0">
      arrow_downward
    </mat-icon>
    <div
      matTooltip="next exercise"
      i18n-matTooltip="@@stepper.next.exercise.title.nextExercise"
      class="step-next"
      [ngStyle]="{
        'color': stepper.nextStep.type === 'work'
          ? stepper.nextStep.color
          : 'var(--rest)'
      }"
      i18n="@@stepper.next.exercise.title">
      {
        stepper.nextStep.type === 'work'
          ? stepper.nextStep.title
          : stepper.nextStep.type,
        select, rest {rest} other {
          {{
            stepper.nextStep.type === 'work'
              ? stepper.nextStep.title
              : stepper.nextStep.type
          }}
        }
      }
    </div>
  </section>
  <section  *ngIf="!initial" class="section">
    <div
      [ngStyle]="{
        'color': stepper.currentStep.type === 'work'
          ? stepper.currentStep.color
          : 'var(--rest)'
        }"
      class="countdown">
      {{stepper.countdown}}
    </div>
    <div class="">
      <div
        matTooltip="time elapsed" i18n-matTooltip="@@stepper.time.elapsed"
        class="elapsed">
        {{stepper.presetTotalTime.elapsed}}
      </div>
      <div
        matTooltip="time remaining" i18n-matTooltip="@@stepper.time.remaining"
        class="remaining">
        {{stepper.presetTotalTime.remaining}}
      </div>
    </div>
  </section>
  <section  *ngIf="!initial" class="section section--progress">
    <div
      matTooltip="timers elapsed" i18n-matTooltip="@@stepper.timers.elapsed"
      class="current-number">
      {{stepper.stepNumber}}
    </div>
    <div class="progress">
      <mat-progress-spinner
        [diameter]="40" mode="determinate"
        color="accent" [value]="stepper.progress">
      </mat-progress-spinner>
    </div>
    <div
      matTooltip="timers remaining" i18n-matTooltip="@@stepper.timers.remaining"
      class="current-number">
      {{stepper.steps.length - stepper.stepNumber}}
    </div>
  </section>
  <section  *ngIf="!initial" class="section section--play-stop">
    <button
      matTooltip="play" i18n-matTooltip="@@stepper.btn.title.play"
      *ngIf="!stepper.running"
      [disabled]="!stepper.steps.length"
      (click)="play()"
      mat-fab>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      matTooltip="pause" i18n-matTooltip="@@stepper.btn.title.pause"
      *ngIf="stepper.running"
      (click)="pause()"
      mat-fab>
      <mat-icon>pause</mat-icon>
    </button>
    <button
      matTooltip="stop" i18n-matTooltip="@@stepper.btn.title.stop"
      color="warn"
      [disabled]="!stepper.steps.length"
      (click)="stop()"
      mat-fab>
      <mat-icon>stop</mat-icon>
    </button>
  </section>
</div>
<section *ngIf="initial" class="section section--prestart">
  <div [@prestart]="stage">
    <button
      matTooltip="start" i18n-matTooltip="@@stepper.btn.title.start"
      class="large"
      *ngIf="!launched"
      (click)="start()"
      [disabled]="launched"
      mat-icon-button>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <div
      i18n="@@stepper.stages"
      *ngIf="stage !== 'button'"
      class="prestart-countdown">
      {stage, select, GO! {GO!} other {{{stage}}}}
    </div>
  </div>
  <div class="time-stat" *ngIf="!launched">
    <mat-icon
      matTooltip="total time of preset" i18n-matTooltip="@@stepper.stat.title.totalTime"
      color="primary">
      access_time
    </mat-icon>
      {{stepper.presetTotalTime.remaining}} =
    <mat-icon
      matTooltip="total work time" i18n-matTooltip="@@stepper.stat.title.totalWorkTime"
      color="warn">
      directions_run
    </mat-icon>
    {{stepper.secondsTommssStr(stepper.workTotalTime)}} +
    <mat-icon
      matTooltip="total rest time" i18n-matTooltip="@@stepper.stat.title.totalRestTime"
      class="rest-icon"
      svgIcon="resting-man-green">
    </mat-icon>
    {{stepper.secondsTommssStr(stepper.restTotalTime)}}
  </div>
</section>
<div [@finish]="stage" *ngIf="stage === 'accomplished'" class="finish">
  <div class="done" i18n="@@stepper.done.title">
    accomplished
  </div>
  <button
    matTooltip="reset" i18n-matTooltip="@@stepper.btn.title.reset"
    class="replay large"
    (click)="stop()"
    mat-icon-button>
    <mat-icon>replay</mat-icon>
  </button>
</div>
