<header>
  <h1 [ngStyle]="{'color': stepper.currentStep.color}">{{preset.title}}</h1>
</header>
<section class="step">
  <div class="step__current">
    {{stepper.currentStep.type === 'work' ? stepper.currentStep.title : stepper.currentStep.type}}
  </div>
  <mat-icon *ngIf="stepper.stepNumber < stepper.steps.length && stepper.stepNumber !== 0">arrow_right_alt</mat-icon>
  <div class="step__next">
    {{stepper.nextStep.type === 'work' ? stepper.nextStep.title : stepper.nextStep.type}}
  </div>
</section>
<section class="countdown-wrapper">
  <div class="countdown">
    {{stepper.currentStep.minutes < 1 ? 00 : stepper.currentStep.minutes < 10 ? 0 : '' }}{{stepper.currentStep.minutes}}:{{stepper.currentStep.seconds < 1 ? 00 : stepper.currentStep.seconds < 10 ? 0 : '' }}{{stepper.currentStep.seconds}}
  </div>
</section>
<section>
  <div class="progress">
    <mat-progress-spinner mode="determinate" [value]="stepper.progress"></mat-progress-spinner>
    <div class="current-number">
      {{stepper.stepNumber}} of {{stepper.steps.length}}
    </div>
  </div>
</section>
<section>
  <button *ngIf="!stepper.running" (click)="play()" mat-icon-button>
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf="stepper.running" (click)="pause()" mat-icon-button>
    <mat-icon>pause</mat-icon>
  </button>
  <button (click)="stop()" mat-icon-button>
    <mat-icon>stop</mat-icon>
  </button>
</section>
