:host, .main-body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.section, .main-body{
  font-size: 3rem;
  flex: 1 1;
}
.section{
  height: content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preset-title{
  flex: 0 1;
  color: var(--yell);
}
.section--col{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  min-height: 10.5rem;
}
.countdown{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 10rem;
  min-width: 120px;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 30rem;
  color: var(--yell);
}
.progress{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.step-current{
  font-weight: bold;
  text-shadow: 0 0  1.5rem;
}
.finish{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: rgba(62, 62, 62, 0.95);
}
.finish button,
.section--prestart button {
  color: var(--yell);
}
.section--prestart{
  flex-flow: column;
}
.done{
  font-family: 'Faster One', cursive;
  font-size: 5rem;
  font-weight: bold;
  color: var(--yell);
  border: 1rem solid var(--yell);
  border-radius: 3rem;
  width: fit-content;
  transform: rotate(-0.05turn);
  padding: 0 1rem;
  text-transform: uppercase;
}

button.large  {
  height: 15rem;
  width: 15rem;
}

.section--play-stop{
  justify-content: space-evenly;
  color: var(--yell);
  position: fixed;
  bottom: 3rem;
}
.section--play-stop button{
  margin: 0 1rem;
}

.replay mat-icon,
.large mat-icon{
  transform: scale(4);
}
.elapsed,
.remaining{
  color: var(--yell);
}
.work{
  color: var(--yell);
}
.rest{
  color: var(--rest);
}
.prestart-countdown{
  color: black;
  background-color: var(--yell);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-number{
  color: #b0bec5;
  font-size: 4rem;
}
.time-stat{
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.5rem;
}
.time-stat mat-icon{
  transform: scale(1);
}
.rest-icon{
  height: 2.4rem;
  width: 2.4rem;
  background-size: 2.4rem 2.4rem;
}
