:host{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.hor-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.preset-list{
  padding: 0.5rem;
  width: 100%;
}
.preset-list__item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  padding: 0 1rem;
  box-shadow: 0px 0px 1rem 0.01rem #c8c8c8;
  margin: 1rem 0;
  color: var(--yell);
}

.add-button{
  position: fixed;
  bottom: 3rem;
}
