<div class="constructor-element constructor-element--main-info">
  <div class="workout-title">
    <mat-form-field *ngIf="editingTitle || preset.title === ''">
      <input matInput
      type="text"
      value="{{preset.title}}"
      (blur)="onBlur('title', titleInput.value)"
      placeholder="presets title"
      #titleInput
      jtAutofocusInput>
    </mat-form-field>
    <h2 class="smart-label" matRipple [hidden]="editingTitle" (click)="editProperty('title')">{{preset.title}}</h2>
  </div>
  <div class="workout-repetitions">
    <mat-form-field class="workout-repetitions__form-field" *ngIf="editingRepetitions || preset.repetitions === ''">
      <input matInput
             type="number"
             min="1"
             step="1"
             placeholder="repetitions"
             (blur)="onBlur('repetitions', repetitionsInput.value)"
             value="{{preset.repetitions}}"
             #repetitionsInput
             jtAutofocusInput>
    </mat-form-field>
    <jt-preset-repeats-icon
      matRipple
      [hidden]="editingRepetitions"
      [val]="preset.repetitions"
      (click)="editProperty('repetitions')"
      [title]="preset.repetitions">
    </jt-preset-repeats-icon>
    <!-- <p class="smart-label" [hidden]="editingRepetitions" (click)="editProperty('repetitions')">{{preset.repetitions}}</p> -->
  </div>
</div>

<div class="constructor-element">
  <ul
    cdkDropList
    [cdkDropListData]="exercises"
    (cdkDropListDropped)="drop($event)"
    class="preset-exercises-list">
    <li
      matRipple
      cdkDrag
      (click)="editExercise(exercise)"
      *ngFor="let exercise of exercises"
      [style.color]="exercise.color"
      class="preset-exercises-list__item">
      <div class="icon-wrapper">
        <jt-svg-ico *ngIf="exercise.atStartOnly" icoName="green-flag-black-grip"></jt-svg-ico>
        <jt-svg-ico *ngIf="exercise.atEndOnly" icoName="crossed-flag"></jt-svg-ico>
        <jt-repeat-with-preset-icon
          [color]="exercise.color"
          *ngIf="exercise.presetRepetitions"
          [repeat]="exercise.presetRepetitions">
        </jt-repeat-with-preset-icon>
        <jt-repeats-icon
          [color]="exercise.color"
          *ngIf="exercise.repetitions > 1"
          [val]="exercise.repetitions"
          [title]="'repetitions: ' + exercise.repetitions">
        </jt-repeats-icon>
      </div>
      <span class="title">{{exercise.title}}</span>
      <mat-icon (click)="deleteExercise(exercise.id)">delete</mat-icon>
    </li>
  </ul>
</div>

<div class="buttons-bar">
  <button
    mat-fab
    class="editor-button"
    color="primary"
    (click)="newExercise()">
    <mat-icon>add</mat-icon>
  </button>

  <button
    class="editor-button"
    (click)="deletePreset(preset)"
    mat-fab color="warn">
    <mat-icon>delete</mat-icon>
  </button>

  <button
    class="editor-button"
    mat-fab color="accent"
    routerLink="/stepper" [queryParams]="{pId: preset.id}">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div>
