<div class="constructor-element">
  <div class="workout-title">
    <mat-form-field *ngIf="editingTitle || preset.title === ''">
      <input matInput
      type="text"
      value="{{preset.title}}"
      (blur)="onBlur('title', titleInput.value)"
      placeholder="presets title"
      #titleInput
      jtAutofocusInput>
    </mat-form-field>
    <p [hidden]="editingTitle" (click)="editProperty('title')">{{preset.title}}</p>
  </div>
  <div class="workout-repetitions">
    <mat-form-field *ngIf="editingRepetitions || preset.repetitions === ''">
      <input matInput
             type="number"
             min="1"
             placeholder="repetitions"
             (blur)="onBlur('repetitions', repetitionsInput.value)"
             value="{{preset.repetitions}}"
             #repetitionsInput
             jtAutofocusInput>
    </mat-form-field>
    <p [hidden]="editingRepetitions" (click)="editProperty('repetitions')">{{preset.repetitions}}</p>
  </div>
</div>

<div class="constructor-element">
  <mat-accordion  hideToggle="true" multi="true">
    <mat-expansion-panel *ngFor="let exercise of exercises$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{exercise.title }}
          <div *ngIf="exercise.repetitions > 1" class="repetitions">
            - x {{exercise.repetitions}}
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngFor="let cd of getCountdownsBy(exercise.id) | async">
        {{cd.type}}:
        {{cd.minutes ? ' '+cd.minutes+' min.' : ''}}
        {{cd.seconds ? ' '+cd.seconds+' sec.' : ''}}
      </p>

      <div class="exrcise-button-panel">
        <button (click)="editExercise(exercise)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteExercise(exercise.id)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<div class="constructor-element">
  <button mat-raised-button (click)="newExercise()">add exercise</button>
</div>

<div class="constructor-element">
  <div class="buttons-bar">
    <button class="buttons-bar__button" mat-raised-button>delete</button>
    <button
      class="buttons-bar__button"
      mat-raised-button
      routerLink="/stepper" [queryParams]="{pId: preset.id}">
      launch
    </button>
  </div>
</div>
