<div class="constructor-element constructor-element--main-info">
  <div class="workout-title">
    <mat-form-field *ngIf="editingTitle || preset.title === ''">
      <input matInput
      type="text"
      value="{{preset.title}}"
      (blur)="onBlur('title', titleInput.value)"
      placeholder="presets title"
      i18n-placeholder="@@presetsEditor.input.placeholder.presetsTitle"
      #titleInput
      jtAutofocusInput>
    </mat-form-field>
    <h2
      class="smart-label" matRipple [hidden]="editingTitle"
      i18n-matTooltip="@@presetsEditor.title.editTitle" matTooltip="edit title"
      (click)="editProperty('title')">{{preset.title}}
    </h2>
  </div>
  <div class="workout-repetitions">
    <mat-form-field class="workout-repetitions__form-field" *ngIf="editingRepetitions">
      <input matInput
             type="number"
             min="1"
             step="1"
             placeholder="cycles" i18n-placeholder="@@presetsEditor.input.cycles"
             (blur)="onBlur('repetitions', repetitionsInput.value)"
             value="{{preset.repetitions}}"
             #repetitionsInput
             jtAutofocusInput>
    </mat-form-field>
    <jt-preset-repeats-icon
      matRipple
      [hidden]="editingRepetitions"
      [val]="preset.repetitions"
      color="#ffb300"
      (click)="editProperty('repetitions')"
      i18n-matTooltip="@@presetsEditor.icon.cycles" matTooltip="cycles">
    </jt-preset-repeats-icon>
  </div>
</div>

<div class="constructor-element">
  <ul
    cdkDropList
    [cdkDropListData]="exercises"
    (cdkDropListDropped)="drop($event)"
    class="preset-exercises-list">
    <li
      matRipple cdkDrag
      matTooltip="exercise" i18n-matTooltip="@@presetsEditor.title.exercise"
      (click)="editExercise(exercise)"
      *ngFor="let exercise of exercises"
      [style.color]="exercise.color"
      class="preset-exercises-list__item">
      <div class="icon-wrapper">
        <jt-svg-ico
          *ngIf="exercise.atStartOnly"
          matTooltip="Play in the begining"
          i18n-matTooltip="When exercise will be played @@presetsEditor.icon.title.begining"
          icoName="green-flag-black-grip">
        </jt-svg-ico>
        <jt-svg-ico
          matTooltip="Play in the end"
          i18n-matTooltip="When exercise will be played @@presetsEditor.icon.title.end"
          *ngIf="exercise.atEndOnly"
          icoName="crossed-flag">
        </jt-svg-ico>
        <jt-repeat-with-preset-icon
          [color]="exercise.color"
          matTooltip="cycled exercise"
          i18n-matTooltip="whether exercise  be repeated in preset @@presetsEditor.icon.title.cycled"
          *ngIf="exercise.presetRepetitions"
          [repeat]="exercise.presetRepetitions">
        </jt-repeat-with-preset-icon>
        <jt-repeats-icon
          [color]="exercise.color"
          *ngIf="exercise.repetitions > 1"
          [val]="exercise.repetitions"
          matTooltip="exercise repetitions"
          i18n-matTooltip="@@presetEditor.icon.exercise.reps">
        </jt-repeats-icon>
      </div>
      <span class="title" [matTooltip]="exercise.title">{{exercise.title}}</span>
      <mat-icon
        matTooltip="remove exercise" i18n-matTooltip="@@presetsEditor.icon.title.removeExercise"
        (click)="deleteExercise(exercise.id)">
        delete
      </mat-icon>
    </li>
  </ul>
</div>

<div class="buttons-bar">
  <button
    mat-fab
    matTooltip="add new exercise" i18n-matTooltip="@@presetsEditor.btn.title.addNewExercise"
    class="editor-button"
    color="primary"
    (click)="newExercise()">
    <mat-icon>add</mat-icon>
  </button>

  <button
    matTooltip="delete preset" i18n-matTooltip="@@presetsEditor.btn.title.deletePreset"
    class="editor-button"
    (click)="deletePreset(preset)"
    mat-fab color="warn">
    <mat-icon>delete</mat-icon>
  </button>

  <button
    matTooltip="launching preset" i18n-matTooltip="@@presetsEditor.btn.title.launchingPreset"
    class="editor-button"
    mat-fab color="accent"
    routerLink="/stepper" [queryParams]="{pId: preset.id}">
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button
    mat-fab
    class="editor-button"
    matTooltip="share the preset"
    i18n-matTooltip="@@presetsEditor.btn.title.sharePreset"
    (click)="sharePreset()">
    <mat-icon>share</mat-icon>
  </button>
</div>
