:host{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
  font-size: 2rem;
}
.workout-title{
  width: 100%;
}
.workout-repetitions{
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout-repetitions__form-field{
  width: 6rem;
}

.constructor-element,
mat-form-field{
  width: 100%;
  display: flex;
  flex-flow: column;
}

.constructor-element--main-info{
  flex-flow: row;
  justify-content: space-between;
  margin: 1.5rem 0 1rem 0;
}
.editor__item{
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: center;
}
.add-countdown{
  align-self: flex-start;
}
.centred-bar{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.editor-button{
  margin: 0.5rem 0;
}
.smart-label{
  cursor: pointer;
}
.icon-wrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 12rem;
}
.centred-bar button{
  width: 100%;
  border-radius: 3rem;
  box-shadow: 0 0 0.5rem;
}
.preset-exercises-list__item{
  margin: 0.5rem 0;
  padding-right: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  border: solid 0.1rem;
  box-shadow: 0 0 0.5rem;
}
.title{
  /* text-shadow : 0 0 1rem white; */
}
.buttons-bar{
  display: flex;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

.buttons-menu{
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 7rem;
  height: content;
}
.flag-icon{
  height: 4.8rem;
  width: 4.8rem;
}
