:host{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  font-size: 1.6rem;
}

.workout-repetitions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.constructor-element,
mat-form-field{
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 0.5rem 0 0.5rem 0;
}

.constructor-element--main-info{
  flex-flow: row wrap;
  justify-content: space-between;
}

.narrow-input{
  width: 4rem;
}
.wide-input{
  width: 10rem;
}
.editor__item{
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: center;
}
.add-countdown{
  align-self: flex-start;
}
.centred-bar{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.editor-button{
  margin: 0 0.5rem 0 0.5rem;
}
.exrcise-button-panel{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
.smart-label{
  margin: 2.85rem 0;
  cursor: pointer;
}
mat-panel-title{
  align-items: center;
}
